name: "Docker"

on:
  workflow_dispatch:

  push:
    branches: ["master"]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  build:
    name: "Build"
    uses: dockette/.github/.github/workflows/docker.yml@master
    secrets: inherit
    with:
        image: "dockette/ci"
        tag: "${{ matrix.item }}"
        context: "${{ matrix.item }}"
    strategy:
      matrix:
        include:
          # Node
          - item: node6
          - item: node7
          - item: node8
          - item: node9
          - item: node10
          - item: node11
          - item: node12
          - item: node13
          - item: node14
          - item: node15
          - item: node16
          - item: node17
          - item: node18
          - item: node19
          - item: node20
          - item: node21
          - item: node22
          - item: node23
          - item: node24
          # PHP
          - item: php56
          - item: php70
          - item: php71
          - item: php72
          - item: php73
          - item: php74
          - item: php80
          - item: php81
          - item: php82
          - item: php83
          - item: php84
          - item: php85
          # Ansitest
          - item: ansitest

      fail-fast: false